<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Mission Guac Party 2013!</a>
    </div>
  </div>
</div>
<div class="confirmed-unit">
  <h1>Thanks for letting us know that you're going to try to stop by <%= @partier.name%>!</h1>
  <p>Please! Include your roommates, friends, dogs etc. etc. etc.
  <p>We'll email you a friendly remider on Sunday morning!
  <p>Need a Guacamole receipe? <a href="http://tinyurl.com/97wyo5b">Here are a whole bunch!</a>
</div>
