<div class="center hero-unit">
  <div class="row">
    <aside class="row">
      <section>
        <h5>Need a Guacamole receipe? <a href="http://tinyurl.com/97wyo5b">"Here are a whole bunch!"</a>
        <center>
          "Thanks for letting us know that you're going to try to stop by!  We'll email you a friendly remider on Sunday morning!"
        </center>
      </section>
    </aside>
  </div>
</div>
