<div>
  <div><img src="guacparty.gif" height="100%" width="100%"</div>
  <div class="hero-unit">
    <h1>About</h1>
      <p>Mission Guac Party is a party that will be showcasing the best Guacamoles that the city has to offer.
      <p>The party going people of San Francisco will get to decide who has the best guacamole in the City!
      <p>The winner to be crowned with the guacamole glory trophy, bragging rights until next Indian Summer, the title of official "Guacamole of San Francisco", and a secret mystery prize!

    <h1>Rules</h1>
      <p>Entry into the competition is free
      <p>Your guacamole must use at least 4 avocados
      <p>For all others wishing to attend, you must fairly judge the Guacamoles presented

    <h1>What we're giving away:</h1>
      <p>Stellar secret prizes from some stellar local companies!
      <p>Our buddies at <a href="https://www.rdio.com">Rdio</a> will be there!
      <p>So will our friends from <a href="http://dearmomsf.com">Dear Mom</a>!
      <p>...and of course the #PandaTweet will be there to enjoy guacamole with all!

    <h1>Location & Time</h1>
      <p>Sunday, Sept 15th, 2013
      <p><a href="http://goo.gl/maps/lFUoc">230 Guerrero St, San Francisco, California</a>
      <p>1pm - until the last chip is eaten
    <center><a class="btn btn-large btn-primary" href="/signup">Count me in!</a>
  </div>
</div>
