<div class="center hero-unit">
  <h3>About</h3>
  <h4 id="instructions">
    <p>A party that will be showcasing the best Guacamoles that the city has to offer.</p>
    <p>The party going people of San Francisco will get to decide who has the best guacamole in the City.</p>
    <p>The winner to be crowned with the guacamole glory trophy, bragging rights until next Indian Summer, the title of official "Guacamole of San Francisco", and a secret mystery prize.</p>
  </h4>

  <h3>Rules</h3>
  <h4 id="instructions">
    <p>Entry into the competition is free</p>
    <p>Your guacamole must use at least 5 avocados</p>
    <p>For all others wishing to attend, you must fairly judge the Guacamoles presented</p>

  <h3>Location & Time</h3>
  <h4 id="instructions">
    <p>Sunday, Sept 15th, 2012</p>
    <p><a href="http://goo.gl/maps/lFUoc">230 Guerrero St, San Francisco, California</a></p>
    <p>1pm - until the last chip is eaten</p>

  <h3>What we're giving away:</h3>
  <h4 id="instructions">
    <p>Stellar secret prizes from some stellar local companies!</p>
    <p>Our buddies at </li> will be there!</p>
    <p>So will our friends from </li>!</p>
    <p>...and of course the #PandaTweet will be there to enjoy guacamole with all!</p>
  <center><a class="btn btn-large btn-primary border: 1px solid red" href="/signup">Count me in!</a><center>
</div>
