<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= "#{SITE_TITLE}" %></title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css">
</head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Mission Guac Party 2013!</a>
        </div>
      </div>
    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
