<div class="center hero-unit">
<h5>Non-Committal Sign Up</h5>
<div class="center">
  <div id="instructions">
    <form action="/signup" method="post">
      <input type="text" name="name" placeholder="Your name..."></textarea>
      <input type="text" name="email" placeholder="Your email..."></textarea>
      <input type="checkbox" name="guacamole" value="1">Guacamole?
      <input type="checkbox" name="beer" value="1">Beer?
      <input type="checkbox" name="something_else" value="1">Something else?
      <input type="submit" value="Guac on!">
    </form>
  </div>
  <h4 id="contact">
    <p>Questions? Call or tweet <a href="https://twitter.com/lspray">@lspray</a></p>
</div>
