<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Mission Guac Party 2013!</a>
    </div>
  </div>
</div>
<div class="signup-unit">
  <h1>Non-Committal Sign Up</h1>
  <div id="instructions">
    <form action="/signup" method="post">
      <input type="text" name="name" placeholder="Your name..."></textarea>
      <input type="text" name="email" placeholder="Your email..."></textarea>
      <br>
      <input type="checkbox" name="guacamole" value="1">Guacamole?
      <br>
      <input type="checkbox" name="beer" value="1">Beer?
      <br>
      <input type="checkbox" name="something_else" value="1">Something else?
      <br>
      <br>
      <input class="btn btn-large btn-primary" type="submit" value="Guac on!">
    </form>
  </div>
  <h4 id="contact">
    <p>Questions? Call or tweet <a href="https://twitter.com/lspray">Luke Spray</a> or <a href="https://twitter.com/ienjoythebeach">Chris Bunting</a>
</div>
